@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700&display=swap');

$primary-color: #24586F;
$color: #217092;

$font: 'Montserrat', sans-serif;

$font-thin: 100;
$font-extralight: 200;

$font-semibold: 600;
$font-bold: 700;